<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="@CODEBASE@" href="app.jnlp">
  <information>
    <title>IcedTea-Web Console Sample</title>
    <vendor>IcedTea-Web Maintainers</vendor>
    <description>JDK 17 console sample for IcedTea-Web output verification</description>
    <offline-allowed/>
  </information>

  <security>
    <all-permissions/>
  </security>

  <resources>
    <j2se version="17+"/>
    <jar href="app.jar" main="true"/>
  </resources>

  <application-desc main-class="net.sourceforge.icedteaweb.sample2.SampleApp2Main"/>
</jnlp>
